@charset "utf-8";

$container-width:1000;

.archive-container {
  width: 100%;
  margin: 80px auto;
}
.ant-list-item {
  margin-top: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  background: #fff;
  padding-bottom: 0 !important;
  box-sizing: border-box;
  align-items: center !important;
}
.ant-list-item-main {
  padding: 8px  24px;
}
.ant-list-item-extra {
  margin-bottom: 16px;
  margin-right: 15px;
  margin-left: 0;
}
.loading-container {
  text-align: center;
  margin-top: 20px;
}
.ant-timeline-item-head-custom {
  padding: 0;
  border-radius: 50%;
}
.slide-bar {
  position: fixed;
  right: 50px;
  bottom: 180pt;
  width: 95px;
}
.blogImage {
  vertical-align: middle;
  display: block;
  width: 220px;
  height: 180px;
}
.archiveTitle {
  color: #555;
}
.archiveTitle:hover{
  color: #1890ff;
}