@charset "utf-8";

$info-container-width:80%;
//$info-box-width:850px;
$info-box-width:78%;
$news-container:260px;

.container {
  width: $info-container-width;
  margin: 50px auto;
  font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  color: rgba(0,0,0,.65);
}
// blog-content
.info-box {
  width: $info-box-width;
  //margin: 0 auto;
}
.info {
  padding: 24px;
}
.info h3 {
  font-size: 22px;
  color: #333;
  text-align: center;
}
.info .detail {
  display: flex;
  justify-content: space-between;
  margin: 20px 5px 30px 5px;
  font-size: 12px;
  color: #888888;
}
.display-f {
  display: flex;
  align-items: center;
}
.tag {
  margin-left: 20px;
}
.read-great {
  margin-left: 15px;
}
.tag-link {
  display: inline-block;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 12px;
  padding: 2px 10px;
}
.tag-link:hover {
  color: #fff;
}
//使用pre和code设置代码和内容
.news_con pre {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  background: #333;
  color: #f8f8f8;
}

//news-container
.news-container {
  width: $news-container;
  margin-left: 30px;
  position: absolute;
  top: 0;
  right: -20px;
}
.news-container .news-card {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.latest-blog {
  padding: 15px;
}
.latest-blog li {
  margin-top: 10px;
  cursor: pointer;
}
.latest-blog li a:hover {
  color: #ffb30e;
}
.ant-card-head {
  font-size: 14px;
  color: #333;
  line-height: 3px;
  min-height:0;
  background-color: #f5f5f5;
}
.hot-blog {
  padding: 15px;
}
.hot-blog a {
  font-size: 14px;
  color: #333;
  cursor: pointer;
}
.hot-blog a:hover {
  color: #0075e9;
}
.hot-blog div {
  margin-bottom: 10px;
}
.hot-blog p {
  font-size: 12px;
  color: #858585;
  line-height: 20px;
  margin-bottom: 0;
}
.latest-comment {
  padding: 15px;
}
.latest-comment a {
  display:block;
  font-size: 14px;
  color: #336699;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap:break-word;
}
.latest-comment a:hover {
  color: #ffb30e;
}
.comment {
  font-size: 12px;
  color: #858585;
  word-wrap: break-word;
  vertical-align: top;
  display: block;
  word-break: break-all;
}
//这个是p的高度，决定了有几行，并且设置为行数的高度，然后最后向前::before设置伪元素，::after设置伪元素，如果前置的伪元素在后面则备后置清除掉，
//如果后置的在后面，前置的已经在文字的紧跟着后面，则清除不掉
.ellipsis {
  position: relative;
  line-height: 1.5em;
  max-height: 3em;
  overflow: hidden;
}
//设置为元素，将内容以#fff覆盖，z-index:1，然后使用伪元素...替换
.ellipsis::before {
  content: '...';
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 24px;
  padding-left: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  background: -webkit-gradient(linear,left top, right top,from(transparent),color-stop(40%, #fff));
  background: linear-gradient(to right,transparent,#fff 40%);
}
.ellipsis::after {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

//blog info footer
.blog-footer-tags {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
  margin:30px 0 40px 30px;
}
.tag-item {
  display: block;
  background: #ccc;
  margin-left: 25px;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 14px;
}
.copy-right {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  height: 100px;
  margin-top: 70px;
}
.copy-right-title {
  width: 180px;
  height: 30px;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #999;
  margin: -15px auto;
  background: #fff;
  padding: 3px 0;
  text-align: center;
}
.copy-right-statement {
  text-align: center;
  line-height: 30px;
  margin-top: 25px;
}
.copy-right-statement p {
  font-size: 14px;
  color: #8c8c8c;
  margin-bottom: 0;
}
.blog-info-footer {
  .ant-row::before, .ant-row::after{
    content: '';
    display: none;
  }
}
.share-great {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.share-box {
  display: flex;
  .share-item {
    margin-left: 30px;
  }
}
.great-pay-box {
  display: flex;
  align-items: center;
}
.great-but {
  width: 90px;
  height: 36px;
  background: #3690FC;
  border: 1px solid #3690cf;
  border-radius: 3px;
  cursor: pointer;
  line-height: 36px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  .word {
    color: #fff;
  }
  .great {
    color: #fff;
    font-size: 18px;
  }
}
.pay-but {
  width: 90px;
  height: 36px;
  background: red;
  border: 1px solid red;
  cursor: pointer;
  line-height: 36px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  .word {
    color: #fff;
  }
  .pay {
    color: #fff;
    font-size: 18px;
  }
}
.previous-next-box{
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #fbfbfb;
  padding: 10px 20px;
  margin: 50px 0;

  .previous-next {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color:  #8c8c8c;
    p {
      margin: 0;
    }
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .previous{
      width: 50%;
      text-align: center;
      color: #333;
      font-size: 16px;
      border-right: 1px solid #ddd;
    }
    .next {
      width: 50%;
      text-align: center;
    }
    a:hover{
      color: #3690FC;
    }
  }
}
.user-info-box {
  display: none;
  margin-bottom: 20px;
  transition:all 2s;
}
.user-info {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  width: 300px;

  .tips {
    display: inline-block;
    width: 50px;
  }
}
.url {
  width: 350px !important;
}
//发表评论
.comment-post-box {
  .ant-comment-avatar{
    margin-right: 0;
  }
  .ant-comment-inner {
    padding: 2px 0;
  }
  .fast-comment {
    margin:20px 3px 3px 8px;
    font-size: 14px;
    a {
      padding: 1px 6px;
      color: #666;
      cursor: pointer;
    }
  }
  .comment-title {
    border-bottom: 1px solid #dddddd;
    h4 {
      font-size: 16px;
      color: #333;
      line-height: 2;
    }
  }
}

.comment-list-title {
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding:10px 0px 10px 0px;
  margin:20px 0px;
  i {
    margin-right: 7px;
    font-size: 18px;
    color: #333;
  }
}
.comment-list {
  background: #fff;
  .ant-comment-inner {
    padding: 12px 10px;
  }
}

.reply-area {
  width: 80%;
  .reply-submit {
    margin-top: 6px;
  }
}